.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: .5em;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.logo {
    width: 5rem;
    height: 5rem;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: #e14d34;
}