.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 0.5em;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover,
.item a:focus {
  color: #e14d34;
}
