#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 0.5em;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
  top: 0.5em;
  left: 45em;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.item {
  margin-right: 1.5em;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover,
.item a:focus {
  color: #e14d34;
}

@media (max-width: 780px) {
  .list {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
  }

  .item {
    padding: 0.5em 0em;
  }
}
